body, html{
  transition: 1s ease-in-out;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 0;
  background: url("Wood Table.jpg");
}

.intro {
  margin: 0 auto;
  font-size: 30px;
  font-family: fantasy;
  margin-top: 10px;
  margin-left: auto;
  background-color: red;
  padding: 0;
  width: 40%;
  border-radius: 15%;
  text-align: center;
}

#instructions {
  border-radius: 5%;
}

#subtext {
  font-size: 20px;
}
.square {
  float: left;
  width: 80px;
  height: 80px;
}

.red_square {
  background: url("Red Square.jpg");
}

.black_square {
  background: url("Black Square.jpg");
}

.clear_float {
  clear: both;
}

.game_table {
  position: relative;
  width: 640px;
  height: 640px;
  margin: 50px auto;
  border-width: 2px;
  border-color: yellow;
}
.player {
  background-color: #1aaaad;
  color: white;
  font-size: 20px;
  font-weight: 45;
  border-radius: 15%;
  font-family: fantasy;
  letter-spacing: 1px;
  padding-top: 30px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 20%;
  width: 350px;
  height: 200px;
  z-index: 8;
}

#p1 {
  left: 15px;
  color: red;
}

#p2 {
  right: 15px;
  color: black;
}

.game_score {
  background-color: #1aaaad;
  display: none;
  color: white;
  font-size: 45px;
  font-weight: 45;
  border-radius: 15%;
  left: 0px;
  font-family: fantasy;
  letter-spacing: 1px;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 15%;
  width: 200px;
  z-index: 8;
  -webkit-transition: 5s ease-in-out;
	-moz-transition: 5s ease-in-out;
  -o-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
}

.checker {
  top: 10px;
	left: 10px;
	width: 54px;
	height: 54px;
	position: absolute;
	cursor: pointer;
}

.red_checker {
  background: url("Red Checker.png");
 -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.black_checker {
  background: url("Black Checker.png");
 -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  z-index: 3;
  display: none;
}

@media only screen and (max-width : 640px){
	.table{
		width: 400px;
		height: 400px;
	}

  .intro {
    width: 80%;
  }

	.square{
		width: 50px;
		height: 50px;
	}

	.checker{
		width: 34px;
		height: 34px;
	}

  .black_checker {
    background: url("Black Checker small.png");
  }

  .red_checker {
    background: url("Red Checker small.png");
  }
  .player {
    display: none;
  }
}

#red_index, #black_index, .square#board {
  display: none;
}
